{% liquid
    assign pre = section.settings.pre_heading
    assign heading = section.settings.heading
    assign content = section.settings.content
    assign font_size = section.settings.font_size
    assign button1 = section.settings.button1
    assign url1 = section.settings.url1
    assign button2 = section.settings.button2
    assign url2 = section.settings.url2
    assign button3 = section.settings.button3
    assign url3 = section.settings.url3
%}

<div class="mx-5 mb-10 dm:max-w-screen-dm dm:mx-auto dm:px-10 ds:mx-9 dl:px-0">
    <div class="text-center text-text bg-white shadow-sp rounded-cl py-10 px-4 ds:px-10">
        <p class="font-extrabold text-2xl mb-5">{{ pre }}</p>
        <h2 class="text-title mb-8 tl:pl-10 tl:pr-10">{{ heading }}</h2>
        <div class="flex flex-col gap-1 whitespace-pre-wrap mb-10 ds:mb-12 tl:pl-10 tl:pr-10" style="font-size:{{ font_size }}px;">{{ content }}</div>

      
    </div>
</div>


{% schema %}
{
    "name": "Financing information",
    "settings": [
        {
            "type": "text",
            "id": "pre_heading",
            "label": "Pre heading",
            "default": "Pre heading"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Heading"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Content<p>"
        },
        {
            "type": "range",
            "id": "font_size",
            "min": 12,
            "max": 128,
            "step": 2,
            "unit": "px",
            "label": "Font size",
            "default": 16
        }
    ],
    "presets": [
        {
            "name": "Text with buttons"
        }
    ]
}
{% endschema %}