<style>
  .my-50px {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  @media screen and (max-width: 1000px) {
    .text-500mw {
      max-width: 500px;
      width: 80% !important;
    }
    .text-200mw {
      min-width: 180px;
      width: 20% !important;
    }
  }
  @media screen and (max-width: 768px) {
    .icons-mini > div {
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    .icons-mini {
      row-gap: 12px;
    }
  }
  @media screen and (max-width: 575px) {
    .text-500mw {
      max-width: initial;
      width: 100% !important;
    }
    .text-200mw {
      text-align: center !important;
      min-width: initial;
      width: 1000% !important;
    }
  }
</style>

<div class="flex flex-col justify-between items-start m-auto" style="max-width: 1200px; width: 90%; gap: 30px;">
  <div class="flex justify-between items-center flex-grow-0 flex-shrink-0 w-full flex-wrap icons-mini" style="color: #1f2e5d;">
    <div style="gap: 8px" class="flex items-center justify-center flex-grow-0 flex-shrink-0 w-[179px] h-[23px]">
      <p class="text-[17.052989959716797px] font-bold text-left text-[#1f2e5d]">
        SLEEPFIRSTUSA.COM
      </p>
    </div>
    <div style="gap: 8px" class="flex items-center justify-center flex-grow-0 flex-shrink-0 w-[179px] h-[23px]">
      <img src="https://cdn.shopify.com/s/files/1/0248/6163/8710/files/Frame_480.png?v=1696637061" alt="">
      <p class="text-[17.052989959716797px] font-bold text-left text-[#1f2e5d] italic">
        VOTED BEST IN TOWN
      </p>
    </div>
    <div style="gap: 8px" class="flex items-center justify-center flex-grow-0 flex-shrink-0 w-[179px] h-[23px]">
      <img src="https://cdn.shopify.com/s/files/1/0248/6163/8710/files/Group_276.png?v=1696638019" alt="">
      <p class="text-[17.052989959716797px] font-bold text-left text-[#1f2e5d] italic">
        FAST FREE DELIVERY
      </p>
    </div>
    <div style="gap: 8px" class="flex items-center justify-center flex-grow-0 flex-shrink-0 w-[179px] h-[23px]">
      <img src="https://cdn.shopify.com/s/files/1/0248/6163/8710/files/Group2.png?v=1696637909" alt="">
      <p class="text-[17.052989959716797px] font-bold text-left text-[#1f2e5d] italic">
        4,600+ FIVE STAR REVIEWS
      </p>
    </div>
  </div>
  <div class="flex justify-center items-center flex-grow-0 flex-shrink-0 w-full flex-wrap icons-mini" style="color: #1f2e5d;">
    <div class="flex items-center justify-center flex-grow-0 flex-shrink-0 w-[179px] h-[23px]" style="margin-right: 20px;">
      <img src="https://cdn.shopify.com/s/files/1/0248/6163/8710/files/image_122.png?v=1696637177" alt="">
    </div>
    <div class="flex items-center justify-center flex-grow-0 flex-shrink-0 w-[179px] h-[23px]" style="margin-left: 20px;">
      <img src="https://cdn.shopify.com/s/files/1/0248/6163/8710/files/Group.png?v=1696651907" alt="">
    </div>
</div>


  <div class="flex justify-between items-center flex-grow-0 flex-shrink-0 w-full flex-wrap">
    <p style="width: 100%; font-size: 10.635499954223633px;" class="flex-grow-0 flex-shrink-0 text-left text-[#18171c] text-500mw ">
      If Dallas professional football team becomes national champions on Feb 11, 2024. Select Tempurpedic models qualify. Minimum purchase of $3,000 required before taxes. All qualified mattresses must be paid in full and delivered by November 15, 2023. Winners will be paid for mattress purchases only, not for items including but not limited to box springs, bases, frames, accessories, bedding, office chairs or massage chairs. Any free gifts with purchase including gift card value will be deducted from the amount paid out. Not valid on as-is models, floor models or discontinued models. Winner must be a resident of Texas with mattress delivered to a Texas residence. Contact any store for full details. *On approved credit. Up to 36 months interest free on select models and minimum purchases. See store for complete details and financing options. Photography is for illustration purposes only and may not reflect actual product. Errors in pricing and/or photography may occur. Sleep First reserves the right to correct any such errors. See store for details. Winners must be 21+ years of age. This promotion is in no way sponsored, affiliated or endorsed by Meta, Facebook, Instagram, the National Football League or the Dallas Cowboys.
    </p>
  </div>
</div>

{% schema %}
  {
    "name": "Info Promo",
    "class": "my-50px",
    "blocks": []
  }
{% endschema %}