@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }
    @layer components {
      .button {
        @apply flex justify-center items-center font-bold text-center text-white bg-primary rounded-full hover:bg-hover active:bg-white active:border-primary active:border-2 active:text-primary h-[45px] px-6 mm:px-8;
      }
      .button-disabled {
        @apply flex justify-center items-center font-bold text-center text-white bg-[rgba(56,80,174,0.5)] rounded-full h-[45px] px-6 mm:px-8;
      }
      .button-white {
        @apply flex justify-center items-center font-bold text-center text-primary bg-white border-primary border rounded-full hover:bg-primary hover:text-white hover:border-primary active:bg-hover active:text-white active:border-hover h-[45px] px-6 mm:px-8;
      }
      .button-accent {
        @apply flex justify-center items-center font-bold text-center text-white bg-accent-4 rounded-full hover:bg-[#AD0028] active:bg-white active:border-accent-4 active:border-2 active:text-accent-4 h-[45px] px-6 mm:px-8;
      }
      .button-blur {
        @apply flex justify-center items-center font-bold text-center text-[#565656] backdrop-blur-[6px] bg-body/50 rounded-full hover:bg-gray-400 active:bg-body/70 active:border-body/50 active:border-2 h-[45px] px-6 mm:px-8;
      }
      .button-custom {
        @apply flex justify-center items-center font-bold text-center rounded-full h-[45px] px-6 mm:px-8;
      }
      .button-hidden {
        @apply hidden justify-center items-center font-bold text-center text-white transition-all duration-300 ease-in-out invisible opacity-0 bg-primary rounded-full hover:bg-hover active:bg-white active:border-primary active:border-2 active:text-primary h-[45px] px-6 mm:px-8 ds:flex ds:group-hover:visible group-hover:visible group-hover:opacity-100;
      }
      .button-upsell {
        @apply flex justify-center items-center font-bold text-center text-sm text-white bg-primary rounded-full hover:bg-hover active:bg-white active:border-primary active:border-2 active:text-primary h-[40px] px-6;
      }
      .text-shadow {
        text-shadow: 1px 1px 2px rgba(35, 31, 32, 0.5);
      }
      .text-stroke-accent {
        -webkit-text-stroke: 2px #DB0032;
      }
      .sale-ban-btn:hover {
        background-color: #231F20 !important;
        color: white !important;
      }
      .sale-ban-btn:active {
          background-color: white !important;
          color: #231F20 !important;
      }
      .offer-banner-btn:hover {
        background-color: #231F20 !important;
        color: white !important;
      }
      .offer-banner-btn:active {
        background-color: white !important;
        border-color: #231F20 !important;
      }
    }
}